<app-header></app-header>
<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
  <div class="container">
    <div class="row">
      <h2 class="text-start">Cart</h2>
      <ul>
        <li>
          <a href="#"><i class="bi bi-house-door"></i> Home</a>
        </li>
        <li><i class="bi bi-chevron-double-right pe-2"></i> My Cart</li>
      </ul>
    </div>
  </div>
</div>

<!--####################### About US Starts Here ###################-->
<div class="container-fluid big-padding about-cover">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <table class="table bg-white shadow-md">
          <tr>
            <th>#</th>
            <th>Image</th>
            <th>Product Name</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Action</th>
          </tr>
          <tr class="align-middle">
            <td>1</td>
            <td>
              <img class="max-100" src="assets/images/product/p3.jpg" alt="" />
            </td>
            <td>Personalised Birthday Easel</td>
            <td>2</td>
            <td>44</td>
            <td>88</td>
            <td>
              <button class="btn btn-xs pt-2 btn-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          <tr class="align-middle">
            <td>2</td>
            <td>
              <img class="max-100" src="assets/images/product/p4.jpg" alt="" />
            </td>
            <td>Personalised Wedding Easel</td>
            <td>1</td>
            <td>64</td>
            <td>64</td>
            <td>
              <button class="btn btn-xs pt-2 btn-danger">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </table>

        <button class="btn btn-danger float-end fw-bolder px-4">
          Make Payment
        </button>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="col-md-3 foot-about">
          <h4>About US</h4>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
            hendrerit libero pellentesque libero interdum, id mattis felis
            dictum. Praesent eget lacus tempor justo efficitur malesuada. Cras
            ut suscipit nisi.
          </p>

          <ul>
            <li>23 Rose Stren Melbourn</li>
            <li>sales@smarteyeapps.com</li>
            <li>+91 876 766 554</li>
          </ul>
        </div>

        <div class="col-md-3 foot-post">
          <h4>Latest Posts</h4>

          <div class="post-row">
            <div class="image">
              <img src="assets/images/blog/blog_01.jpg" alt="" />
            </div>
            <div class="detail">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                hendrerit
              </p>
            </div>
          </div>

          <div class="post-row">
            <div class="image">
              <img src="assets/images/blog/blog_02.jpg" alt="" />
            </div>
            <div class="detail">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                hendrerit
              </p>
            </div>
          </div>

          <div class="post-row">
            <div class="image">
              <img src="assets/images/blog/blog_03.jpg" alt="" />
            </div>
            <div class="detail">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                hendrerit
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-3 foot-services">
          <h4>Top Category</h4>

          <ul>
            <li><a href="">Target Statergy</a></li>
            <li><a href="">Web Analytics</a></li>
            <li><a href="">Page Monitering</a></li>
            <li><a href="">Page Optimization</a></li>
            <li><a href="">Target Statergy</a></li>
            <li><a href="">Email Marketing</a></li>
          </ul>
        </div>

        <div class="col-md-3 foot-news">
          <h4>News Letter</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            justo neque, vehicula eget eros.
          </p>

          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control mb-0"
              placeholder="Recipient's username"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <span class="input-group-text bg-danger" id="basic-addon2"
                ><i class="bi text-white bi-send"></i
              ></span>
            </div>
          </div>

          <ul>
            <li><i class="bi bi-facebook"></i></li>
            <li><i class="bi bi-twitter"></i></li>
            <li><i class="bi bi-instagram"></i></li>
            <li><i class="bi bi-linkedin"></i></li>
            <li><i class="bi bi-pinterest"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<app-footer></app-footer>
