<app-header></app-header>
<!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
  <div class="container">
    <div class="row">
      <h2 class="text-start">About Us</h2>
      <ul>
        <li>
          <a href="#"><i class="bi bi-house-door"></i> Home</a>
        </li>
        <li><i class="bi bi-chevron-double-right pe-2"></i> About Us</li>
      </ul>
    </div>
  </div>
</div>

<!--####################### About US Starts Here ###################-->
<div class="container-fluid big-padding about-cover">
  <div class="container">
    <div class="row about-row">
      <div class="col-md-6 no-padding image">
        <img
          src="assets/images/aboutus.jpg"
          alt=""
          style="border-radius: 10px"
        />
      </div>
      <div class="col-md-6 detail ps-4">
        <h2>TREAT Gift Shop</h2>
        <p class="about-us">
          we are treats we offer a unique gift shopping experience that is fast,
          convenient, and tailored to your needs with a personalized reminder
          for your special occasions to adults of age 18-35 helping you to avoid
          the hassle of traditional gift shopping Our Mission: is to
          revolutionize the gift shopping experience by providing a convenient,
          reliable, and personalized solution that exceeds our customers'
          expectations. We strive to simplify the gifting process and help
          people create meaningful connections through the perfect gift. Our
          Vision: is to become the leading gift shopping platform in Egypt,
          known for our exceptional customer service, innovative solutions, and
          commitment to quality. We aim to expand our reach, increase our
          product offerings, and continuously improve our platform to provide
          the ultimate gifting experience for our customers.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="popular-brands big-padding bg-white container-fluid">
  <div class="container">
    <div class="section-tile row">
      <div class="col-md-10 text-center mx-auto">
        <h2>Popular Brands</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit
          amet est sit amet sem malesuada bibendum. Nulla eget mauris at dolor
          fermentum blandit. Maecenas
        </p>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <div class="brand-cover">
          <img src="assets/images/brand/1.jpeg" alt="" />
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <div class="brand-cover">
          <img src="assets/images/brand/client-02.jpeg" alt="" />
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <div class="brand-cover">
          <img src="assets/images/brand/client-03.jpeg" alt="" />
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <div class="brand-cover">
          <img src="assets/images/brand/client-04.jpeg" alt="" />
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <div class="brand-cover">
          <img src="assets/images/brand/client-05.jpeg" alt="" />
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <div class="brand-cover">
          <img src="assets/images/brand/client-06.jpeg" alt="" />
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <div class="brand-cover">
          <img src="assets/images/brand/client-04.jpeg" alt="" />
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <div class="brand-cover">
          <img src="assets/images/brand/client-03.jpeg" alt="" />
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <div class="brand-cover">
          <img src="assets/images/brand/client-05.jpeg" alt="" />
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <div class="brand-cover">
          <img src="assets/images/brand/1.jpeg" alt="" />
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <div class="brand-cover">
          <img src="assets/images/brand/client-02.jpeg" alt="" />
        </div>
      </div>

      <div class="col-lg-2 col-md-4 col-6 mb-4">
        <div class="brand-cover">
          <img src="assets/images/brand/client-02.jpeg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
