<footer>
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="col-md-3 foot-about">
          <h4>About US</h4>

          <p>
            We are treats we offer a unique gift shopping experience that is
            fast, convenient, and tailored to all your needs.
          </p>

          <ul>
            <li>AAST</li>
            <li>Support@ZahwaAhmedAAST.com</li>
            <li>+20 123 456 789</li>
          </ul>
        </div>

        <div class="col-md-3 foot-services">
          <h4>Top Category</h4>

          <ul>
            <li>
              <a id="link" (click)="goToCategoriesProducts('fragrances')"
                >Fragrances</a
              >
            </li>
            <li>
              <a id="link" (click)="goToCategoriesProducts('womens-watches')"
                >Womens Watches</a
              >
            </li>
            <li>
              <a id="link" (click)="goToCategoriesProducts('womens-bags')"
                >Womens Bags</a
              >
            </li>
            <li>
              <a id="link" (click)="goToCategoriesProducts('womens-jewellery')"
                >Womens Jewellery</a
              >
            </li>
            <li>
              <a id="link" (click)="goToCategoriesProducts('sunglasses')"
                >Sunglasses</a
              >
            </li>
            <li>
              <a id="link" (click)="goToCategoriesProducts('mens-watches')"
                >Mens Watches</a
              >
            </li>
          </ul>
        </div>

        <div class="col-md-3 foot-news">
          <h4>News Letter</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            justo neque, vehicula eget eros.
          </p>

          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control mb-0"
              placeholder="Recipient's username"
              aria-label="Recipient's username"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <span class="input-group-text bg-danger" id="basic-addon2"
                ><i class="bi text-white bi-send"></i
              ></span>
            </div>
          </div>

          <ul>
            <li><i class="bi bi-facebook"></i></li>
            <li><i class="bi bi-twitter"></i></li>
            <li><i class="bi bi-instagram"></i></li>
            <li><i class="bi bi-linkedin"></i></li>
            <li><i class="bi bi-pinterest"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
