<header class="container-fluid bg-white">
  <div class="header-top bg-gray border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="d-inline-flex pt-0 pt-md-2 fs-6">
            <li class="p-2">
              <i class="bi bi-envelope"
                ><strong> Support@ZahwaAhmedAAST.com</strong></i
              >
            </li>
            <li class="p-2 d-none d-md-block">
              <i class="bi bi-headphones"><strong>+20123456789</strong></i>
            </li>
          </ul>
        </div>
        <ng-container *ngIf="!loggedUser">
          <div class="col-md-4 d-flex align-items-end">
            <ul class="ms-auto d-inline-flex">
              <li class="p-2">
                <a target="_blank" href="login"
                  ><button class="btn px-4 btn-danger">Login</button></a
                >
              </li>
              <li class="p-2">
                <a target="_blank" href="register"
                  ><button class="btn px-4 btn-outline-danger">
                    Sign Up
                  </button></a
                >
              </li>
            </ul>
          </div>
        </ng-container>
        <ng-container *ngIf="loggedUser">
          <div class="col-md-4 d-flex align-items-end">
            <ul class="ms-auto d-inline-flex">
              <li class="p-2">
                <button
                  type="button"
                  class="btn"
                  data-toggle="dropdown"
                  id="UserName"
                >
                  <strong>Hello, {{ loggedUser[0]["firstName"] }}!</strong>
                </button>
              </li>
              <li class="p-2">
                <a target="_blank"
                  ><button class="btn px-4 btn-danger" (click)="logout()">
                    Logout
                  </button></a
                >
              </li>
            </ul>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="logo-contaienr p-2">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-9 pt-1 pb-2">
          <a href="home">
            <img class="logo" src="assets/images/logo.jpg" alt="" />
          </a>
        </div>
        <div class="col-md-3 col-3 pt-1 text-end">
          <ng-container *ngIf="loggedUser">
            <a routerLink="/cart" class="btn px-0 ml-3">
              <i id="icon" class="fas fa-shopping-cart text-primary"></i>
              <span
                class="badge text-secondary border border-secondary rounded-circle"
                style="padding-bottom: 2px"
                >{{ localStorageService.getQuantity() }}</span
              >
            </a>
          </ng-container>
        </div>
      </div>
      <span id="logo" class="h1 text-uppercase bg-white bg-light px-2"
        >TREAT</span
      >
      <span id="logo" class="h1 text-uppercase text-light bg-warning px-2 ml-n1"
        >Shop</span
      >
    </div>
  </div>
  <div class="menu-bar bg-danger container-fluid border-top">
    <div class="container">
      <h6 class="d-md-none text-white p-3 mb-0 fw-bold">
        Menu
        <a
          class="text-white"
          data-bs-target="#menu"
          data-bs-toggle="collapse"
          aria-expanded="false"
          aria-controls="menu"
          ><i class="bi cp bi-list float-end fs-1 dmji"></i
        ></a>
      </h6>
      <ul id="menu" class="navcol fw-bold d-none d-md-inline-flex">
        <li class="p-21 px-4">
          <a class="text-white" href=""
            >Categories <i class="bi pt-2 bi-chevron-down"></i
          ></a>
          <div class="inner-div">
            <ul class="">
              <li>
                <a id="link" (click)="goToCategoriesProducts('fragrances')"
                  >Fragrances</a
                >
              </li>
              <li>
                <a id="link" (click)="goToCategoriesProducts('skincare')"
                  >Skincare</a
                >
              </li>
              <li>
                <a id="link" (click)="goToCategoriesProducts('home-decoration')"
                  >Home Decoration</a
                >
              </li>
              <li>
                <a id="link" (click)="goToCategoriesProducts('womens-shoes')"
                  >Womens Shoes</a
                >
              </li>
              <li>
                <a id="link" (click)="goToCategoriesProducts('mens-shirts')"
                  >Mens Shirts</a
                >
              </li>
              <li>
                <a id="link" (click)="goToCategoriesProducts('mens-shoes')"
                  >Mens Shoes</a
                >
              </li>
              <li>
                <a id="link" (click)="goToCategoriesProducts('mens-watches')"
                  >Mens Watches</a
                >
              </li>
              <li>
                <a id="link" (click)="goToCategoriesProducts('womens-watches')"
                  >Womens Watches</a
                >
              </li>
              <li>
                <a id="link" (click)="goToCategoriesProducts('womens-bags')"
                  >Womens Bags</a
                >
              </li>
              <li>
                <a
                  id="link"
                  (click)="goToCategoriesProducts('womens-jewellery')"
                  >Womens Jewellery</a
                >
              </li>
              <li>
                <a id="link" (click)="goToCategoriesProducts('sunglasses')"
                  >Sunglasses</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="p-21 px-4">
          <a class="text-white" href=""
            >Pages <i class="bi pt-2 bi-chevron-down"></i
          ></a>
          <div class="inner-div">
            <ul class="">
              <li><a href="home">Home</a></li>
              <li><a href="about">About US</a></li>
              <li><a href="contact">Contact US</a></li>
              <li><a href="products">Products</a></li>
              <li><a href="cart">Cart</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
