.row{
    margin: 30px 0px 30px 0px;
    justify-content: space-between;
}
.text-white:hover {
    cursor: default;
}
#UserName {
    cursor: default;
}
#link {
    cursor: pointer;
}
// #logo1 {
//     background-color: white;
// }
// #logo2 {
//     background-color: aqua;
// }