<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>

<!--####################### Product Detail Starts Here ###################-->
<div class="container-fluid big-padding bg-white about-cover">
  <div class="container">
    <div class="row about-row">
      <div class="col-md-5 text-center">
        <img
          style="height: 300px; border-radius: 10px"
          src="{{ targetProductData['thumbnail'] }}"
          alt=""
        />
      </div>
      <div class="col-md-7">
        <h2>{{ targetProductData["title"] }}</h2>
        <p>
          {{ targetProductData["description"] }}
        </p>
        <b class="fs-3 py-4 text-danger">{{
          targetProductData["price"] -
            (targetProductData["price"] *
              targetProductData["discountPercentage"]) /
              100 | currency
        }}</b>
        <span class="fs-5 ps-3"
          ><del>{{ targetProductData["price"] | currency }}</del></span
        >
        <ul class="mt-0 mt-2 mb-3 vgth">
          <li class="fs-8">
            <i class="bi text-warning bi-star-fill"></i>
            <i class="bi text-warning bi-star-fill"></i>
            <i class="bi text-warning bi-star-fill"></i>
            <i class="bi text-warning bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <span> {{ targetProductData["rating"] }}</span>
          </li>
          <li class="float-end gvi">
            <i class="bi text-danger bi-heart-fill"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="row product-detail">
      <h4>Product Detail</h4>
      <p class="mb-3">
        {{ targetProductData["description"] }}
      </p>
    </div>
    <div class="row review">
      <div class="col-md-8">
        <h4>Product Review</h4>
        <ng-container *ngFor="let user of userReviews; let index = index">
          <div class="row m-0 reviewrow p-3 px-0 border-bottom">
            <div class="col-md-12 align-items-center col-9 rcolm">
              <div class="review">
                <li class="col-8 ratfac">
                  <i class="bi text-warning bi-star-fill"></i>
                  <i class="bi text-warning bi-star-fill"></i>
                  <i class="bi text-warning bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </li>
              </div>
              <h3 class="fs-6 fw-semi mt-2">
                {{ user["firstName"] }} {{ user["lastName"] }}

                <small class="float-end fw-normal"> 20 Aug 2022 </small>
              </h3>

              <div class="review-text">
                Aliquam laoreet nulla ac metus mattis viverra. Fusce hendrerit,
                augue eget hendrerit pellentesque, lorem nulla condimentum
                massa, efficitur pellentesque tortor sapien sed lectus
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid big-padding relatrd">
  <div class="container">
    <div class="section-tile row">
      <div class="col-md-10 mb-4 text-center mx-auto">
        <h2>Related Products</h2>
      </div>
    </div>
    <div class="row">
      <ng-container *ngFor="let prod of youMayLikeProducts; let index = index">
        <div class="col-lg-3 col-md-4 mb-4">
          <div class="bg-white p-2 shadow-md">
            <div class="text-center">
              <a href="detail.html">
                <img
                  style="height: 200px; border-radius: 10px"
                  class="img-fluid w-100"
                  src="{{ prod['thumbnail'] }}"
                  alt=""
                />
              </a>
            </div>
            <div class="detail p-2">
              <h4 class="mb-1 fs-5 fw-bold">{{ prod["title"] }}</h4>
              <b class="fs-4 text-danger">{{
                prod["price"] -
                  (prod["price"] * prod["discountPercentage"]) / 100 | currency
              }}</b>
              <s class="fs-5 ps-3">{{ prod["price"] | currency }}</s>

              <ul class="mt-0 vgth">
                <li class="fs-8">
                  <i class="bi text-warning bi-star-fill"></i>
                  <i class="bi text-warning bi-star-fill"></i>
                  <i class="bi text-warning bi-star-fill"></i>
                  <i class="bi text-warning bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </li>
                <li class="float-end gvi">
                  <i class="bi text-danger bi-heart-fill"></i>
                </li>
              </ul>
              <div class="row pt-2">
                <div class="col-md-6">
                  <button
                    class="btn mb-2 fw-bold w-100 btn-danger"
                    (click)="redirectToProductPage(prod['id'])"
                  >
                    Buy Now
                  </button>
                </div>
                <div class="col-md-6">
                  <button
                    class="btn fw-bold w-100 btn-outline-danger"
                    (click)="addProductToCart(prod)"
                  >
                    Add to Cart
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<app-footer></app-footer>
