<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>

<div class="container-fluid py-5 product-cover">
  <div class="container-xl">
    <div class="row">
      <div class="col-md-3">
        <h4 class="fs-5">Filter by Category</h4>
        <ul class="filt">
          <li>
            <input
              class="form-check-input me-1 bg-danger border-danger"
              type="checkbox"
              id="fragrances"
              (change)="changeSelectionCategories($event, 0)"
              [ngModel]="selectedCategoriesIndex === 0"
              value="fragrances"
            />
            Fragrances
          </li>
          <li>
            <a
              ><input
                class="form-check-input me-1 bg-danger border-danger"
                type="checkbox"
                id="home-decoration"
                (change)="changeSelectionCategories($event, 1)"
                [ngModel]="selectedCategoriesIndex === 1"
                value="home-decoration"
              />
              Home Decoration</a
            >
          </li>
          <li>
            <a
              ><input
                class="form-check-input me-1 bg-danger border-danger"
                type="checkbox"
                id="mens-shirts"
                (change)="changeSelectionCategories($event, 2)"
                [ngModel]="selectedCategoriesIndex === 2"
                value="mens-shirts"
              />
              Mens Shirts</a
            >
          </li>
          <li>
            <a
              ><input
                class="form-check-input me-1 bg-danger border-danger"
                type="checkbox"
                id="skincare"
                (change)="changeSelectionCategories($event, 3)"
                [ngModel]="selectedCategoriesIndex === 3"
                value="skincare"
              />
              Skincare</a
            >
          </li>
          <li>
            <a
              ><input
                class="form-check-input me-1 bg-danger border-danger"
                type="checkbox"
                id="womens-shoes"
                (change)="changeSelectionCategories($event, 4)"
                [ngModel]="selectedCategoriesIndex === 4"
                value="womens-shoes"
              />
              Womens Shoes</a
            >
          </li>
          <li>
            <a
              ><input
                class="form-check-input me-1 bg-danger border-danger"
                type="checkbox"
                id="mens-shoes"
                (change)="changeSelectionCategories($event, 5)"
                [ngModel]="selectedCategoriesIndex === 5"
                value="mens-shoes"
              />
              Mens Shoes</a
            >
          </li>
          <li>
            <a
              ><input
                class="form-check-input me-1 bg-danger border-danger"
                type="checkbox"
                id="mens-watches"
                (change)="changeSelectionCategories($event, 6)"
                [ngModel]="selectedCategoriesIndex === 6"
                value="mens-watches"
              />
              Mens Watches</a
            >
          </li>
          <li>
            <a
              ><input
                class="form-check-input me-1 bg-danger border-danger"
                type="checkbox"
                id="womens-watches"
                (change)="changeSelectionCategories($event, 7)"
                [ngModel]="selectedCategoriesIndex === 7"
                value="womens-watches"
              />
              Womens Watches</a
            >
          </li>
          <li>
            <a
              ><input
                class="form-check-input bg-danger border-danger"
                type="checkbox"
                id="womens-bags"
                (change)="changeSelectionCategories($event, 8)"
                [ngModel]="selectedCategoriesIndex === 8"
                value="womens-bags"
              />
              Womens Bags</a
            >
          </li>
          <li>
            <a
              ><input
                class="form-check-input me-1 bg-danger border-danger"
                type="checkbox"
                id="womens-jewellery"
                (change)="changeSelectionCategories($event, 9)"
                [ngModel]="selectedCategoriesIndex === 9"
                value="womens-jewellery"
              />
              Womens Jewellery</a
            >
          </li>
          <li>
            <a
              ><input
                class="form-check-input me-1 bg-danger border-danger"
                type="checkbox"
                id="sunglasses"
                (change)="changeSelectionCategories($event, 10)"
                [ngModel]="selectedCategoriesIndex === 10"
                value="sunglasses"
              />
              Sunglasses</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <app-products-grid></app-products-grid>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
